.mp-item-card-details-visible {
  width: 430px;
  margin-bottom: 40px;
}
.mp-item-list-wrapper .mp-item-card {
  background-color: #fff;
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}
.mp-item-card.details {
  width: 0;
  margin-bottom: 0;
}
.mp-item-card.details.visible {
  border: solid 1px;
  width: 430px;
  margin-bottom: 40px;
}
.product-wrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
}
@media (min-width: 600px) {
  .product-wrapper .mp-aim-content-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
}
.product-wrapper .mp-aim-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 768px) {
  .product-wrapper .mp-aim-info-img-container {
    width: 392px;
    height: 320px;
    text-align: center;
    overflow: hidden;
  }
}
.product-wrapper .mp-aim-info-img-container {
  max-width: 100%;
  cursor: crosshair;
  width: auto;
  height: auto;
  font-size: 0;
  position: relative;
  user-select: none;
}
@media (min-width: 768px) {
  .product-wrapper .mp-aim-props {
    padding-left: 40px;
  }
}
.product-wrapper .mp-aim-props {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  width: 100%;
}
@media (min-width: 1024px) {
  .product-wrapper .mp-aim-close {
    width: 100%;
    text-align: right;
    padding-right: 21px;
    padding-top: 21px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .product-wrapper .mp-aim-close .mp-aim-close button {
    border: 0;
    background: none;
    padding: 0;
  }
}
.product-wrapper .mp-aim-info-name h1 {
  color: #323232;
  font-family: Roboto Slab,serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.product-wrapper .mp-aim-info-name .mp-item-prop {
  margin-right: 10px;
  display: flex;
}
.product-wrapper .mp-item-prop {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  flex-flow: column;
}
