.DesktopHeader_content {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  background: white;
  /* transition: left 0.2s ease-in-out; */
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); */
  /* will-change: transform; */
}
.DesktopHeader_content .DesktopHeader_desktopHeader {
  margin: 0 auto;
  height: 80px;
  display: flex;
  padding: 0 40px;
  position: relative;
  max-width: 1500px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopHeader_desktopLogo {
  flex: 0 0 auto;
  padding: 0 20px 0 0;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopHeader_desktopLogo a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopHeader_desktopLogo .DesktopHeader_desktopLogoImage {
  width: 160px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopHeader_desktopLogo img {
  border-style: none;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .desktopLogoImage {
  height: 78px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopHeader_menu {
  flex: 1 0 auto;
  text-align: center;
  background: white;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart {
  width: 243px;
  height: 46px;
  margin-left: auto;
  background-image: linear-gradient(90deg, #73ff00, #00ff40 98%);
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .cart-row .cart-link {
  position: relative;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 11px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .cart-row .cart-link a {
  display: flex;
  color: #337ab7;
  text-decoration: none;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .cart-row .cart-link .cart-icon {
  width: 23px;
  height: 20px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .cart-row .cart-link .cart-icon img {
  width: inherit;
  vertical-align: middle;
  border: 0;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .badge {
  position: absolute;
  left: 19px;
  top: 9px;
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #fff;
  background: #ce171f;
  border-radius: 7px;
  line-height: 13px;
  text-align: center;
  width: 14px;
  height: 14px;
  padding: 0!important;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .title {
  font-family: Roboto Slab,serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: condensed;
  text-align: left;
  color: #323232;
  margin-left: 6px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .login {
  background: #323232;
  color: #fff;
  height: 26px;
  line-height: 26px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  display: flex;
  position: relative;
  padding-left: 15px;
  padding-right: 45px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .login .login-icon {
  left: -10px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .login img {
  position: absolute;
  border: 4px solid #323232;
  border-radius: 13px;
  top: -4px;
  left: -40px;
  width: 26px;
  height: 26px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .cart .login img {
  vertical-align: middle;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root {
  display: block;
  border-bottom: 1px solid #f5f5f5;
  background: white;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filters {
  margin: 21px 80px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root ul {
  list-style: none;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filter {
  overflow: hidden;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filter .DesktopCatalogFilters_filterLink {
  height: 44px;
  padding: 0 18px;
  display: block;
  line-height: 44px;
  margin-right: 4px;
  border-radius: 100px;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filter .DesktopCatalogFilters_filterLink:hover {
  background: lightgreen;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filter .DesktopCatalogFilters_filterLinkActive {
  background: lawngreen;
}
.DesktopHeader_content .DesktopHeader_desktopHeader .DesktopCatalogFilters_root .DesktopCatalogFilters_filter a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.mp-content {
  width: 100%;
}
.mp-content .catalog-wrapper {
  padding: 26px 0 26px 26px;
}
.mp-content .catalog-wrapper .category-title {
  margin-top: 0;
}
.mp-content .catalog-wrapper .category-tablet-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mp-content .catalog-wrapper h1 {
  font-family: Roboto Slab,serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #323232;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.mp-content .catalog-wrapper .category-label-container.how-much-products {
  margin-bottom: 20px;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 110px;
  margin-bottom: 11px;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card {
  width: 230px;
  background-color: #fff;
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: 40px;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .mp-item-prop {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  flex-flow: column;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .title-img {
  min-height: 220px;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #ddd;
  border: 0;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .mp-item-description {
  margin: 0 18px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #323232;
  height: 31px;
  position: relative;
  overflow: hidden;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .ellipsis {
  background: #fff;
  bottom: 0;
  position: absolute;
  right: 0;
  width: 10px;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .fill {
  background: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .mp-item-add {
  margin-top: 15px;
  padding: 0 13px;
  display: flex;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .mp-price {
  font-family: Roboto Slab,serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #323232;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .spacer {
  flex: 1 1;
}
.mp-content .catalog-wrapper .mp-item-list-wrapper .mp-item-card .button-add-container {
  padding: 12px;
}
.mp-content .button-add {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #7cfc00, #000000);
  border: none;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-stretch: condensed;
  display: flex;
  align-items: center;
  line-height: inherit;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  margin: 0;
}
