@media (min-width: 1024px) {
  .cart-page-wrapper {
    padding: 35px 26px;
  }
}
@media (min-width: 768px) {
  .cart-page-wrapper {
    padding: 35px 16px;
  }
}
.cart-page-wrapper {
  padding: 25px 8px;
}
.cart-title {
  font-family: Roboto Slab,serif;
  font-size: 24px;
  font-weight: 700;
  color: #323232;
  line-height: 1;
  text-transform: uppercase;
}
.cart-guest-offer-container,
.cart-guest-offer-container > div {
  display: flex;
  align-items: center;
}
.cart-guest-offer-container {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}
.cart-guest-offer-container,
.cart-guest-offer-container > div {
  display: flex;
  align-items: center;
}
.cart-guest-offer-button {
  display: flex;
  align-items: center;
  background: #fc0;
  border-radius: 4px;
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 7px 14px 5px;
  margin-left: 4px;
  margin-right: 8px;
}
[role=button] {
  cursor: pointer;
}
[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
[role=button] {
  cursor: pointer;
}
.cart-guest-offer-text {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding-right: 5px;
}
.cart-guest-offer-text img {
  vertical-align: middle;
  border: 0;
}
@media (min-width: 768px) {
  .cart-content-wrapper {
    flex-direction: row;
  }
}
.cart-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1024px) {
  .cart-wrapper {
    width: 598px;
    margin-left: 0;
    margin-right: 0;
  }
}
.cart-wrapper {
  width: 100%;
  margin: 10px auto 30px;
}
@media (min-width: 1024px) {
  .checkout-items {
    padding: 16px;
  }
}
.checkout-items {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  padding: 16px 8px;
  margin-bottom: 8px;
}
.item-list {
  display: flex;
  flex-flow: column nowrap;
}
.checkout-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 8px 0;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}
.checkout-item .picture {
  position: relative;
}
.checkout-item .picture .checkout-thumb {
  height: 48px;
}
.checkout-item .picture img {
  vertical-align: middle;
  border: 0;
}
@media (min-width: 768px) {
  .checkout-item .checkout-item-title-price-wrapper {
    flex-direction: row;
    width: 100%;
  }
}
.checkout-item .checkout-item-title-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.checkout-item .checkout-item-title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 8px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #323232;
}
.checkout-item .checkout-item-title {
  margin-bottom: 6px;
}
.checkout-item .checkout-item-title-wrapper a {
  color: #323232;
  cursor: pointer;
}
.checkout-item a {
  color: #337ab7;
  text-decoration: none;
}
.checkout-item a {
  background-color: initial;
}
.checkout-item .checkout-item-ingredients {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  letter-spacing: -0.1px;
  color: #323232;
  font-weight: 700;
}
.checkout-item .checkout-item-subcategory {
  font-size: 12px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .checkout-item .checkout-item-count-price {
    padding-right: 0;
    width: auto;
  }
}
.checkout-item .checkout-item-count-price {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.checkout-item .checkout-item-count-price .price {
  text-align: right;
  opacity: .5;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #323232;
  width: 50px;
}
.checkout-item .checkout-item-count-price .counter {
  margin-left: 10px;
  width: 76px;
  height: 26px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #323232;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.checkout-item .checkout-item-count-price .counter button {
  border: 1px solid rgba(50, 50, 50, 0.5);
  background-color: initial;
  border-radius: 9px;
  padding: 0;
  margin: 0 5px;
}
.checkout-item .checkout-item-count-price .counter button span {
  margin-top: -2px;
  display: block;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  color: rgba(50, 50, 50, 0.5);
}
.checkout-item .checkout-item-count-price .counter button,
.checkout-item .checkout-item-count-price .counter div {
  height: 18px;
  width: 18px;
}
.checkout-item .checkout-item-count-price button,
.checkout-item .checkout-item-count-price input,
.checkout-item .checkout-item-count-price select,
.checkout-item .checkout-item-count-price textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.checkout-item .checkout-item-count-price .summ {
  width: 65px;
  font-family: Roboto Slab,serif;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: #323232;
}
.checkout-item .checkout-item-count-price .summ .rub {
  font-family: Roboto, sans-serif;
}
@media (min-width: 1024px) {
  .checkout-item .checkout-item-count-price .checkout-item-trash-icon {
    margin-left: 25px;
  }
}
.checkout-item .checkout-item-count-price .checkout-item-trash-icon {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .checkout-item .checkout-item-count-price .checkout-item-trash-icon img {
    width: 12px;
    height: 12px;
  }
}
.checkout-item .checkout-item-count-price .checkout-item-trash-icon img {
  width: 24px;
  height: 24px;
}
.checkout-item .checkout-item-count-price .checkout-item-trash-icon img {
  vertical-align: middle;
  border: 0;
}
@media (min-width: 768px) {
  .checkout-cutlery {
    padding: 1px 26px 0;
  }
}
.checkout-cutlery {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 1px 9px 0;
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.checkout-cutlery-subtext {
  display: none;
}
.checkout-subtext {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  opacity: .5;
}
@media (min-width: 768px) {
  .checkout-cutlery .counter {
    margin-left: 25px;
  }
}
.checkout-cutlery .counter {
  margin-left: 10px;
}
.counter {
  width: 76px;
  height: 26px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #323232;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 36px;
}
.counter button {
  border: 1px solid rgba(50, 50, 50, 0.5);
  background-color: initial;
  border-radius: 9px;
  padding: 0;
  margin: 0 5px;
}
.counter button,
.counter div {
  height: 18px;
  width: 18px;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
.counter button span {
  margin-top: -2px;
  display: block;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .checkout-promo-birthday {
    padding: 7px 26px;
  }
}
.checkout-promo-birthday {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 7px 9px;
  color: #323232;
  font-family: Roboto, sans-serif;
}
.checkout-promo-birthday .promocode {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 7px;
}
.checkout-promo-birthday .promocode .title {
  text-transform: uppercase;
}
.checkout-promo-birthday .promocode .checkout-promo-birthday .spacer {
  flex: 1 1;
}
.checkout-promo-birthday .promocode input {
  text-transform: uppercase;
  max-width: 130px;
}
.checkout-promo-birthday .promocode span.notApplied {
  color: #323232;
  width: 90px;
}
@media (min-width: 1024px) {
  .checkout-details {
    padding: 16px;
  }
}
.checkout-details {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  padding: 16px 8px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #323232;
}
.checkout-details .title {
  color: #323232;
  font-family: Roboto Slab,serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 13px;
}
.checkout-details .sub-title {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.checkout-details .checkout-details-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-details .checkout-details-wrapper .half {
  width: 100%;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .checkout-details-name-container {
    flex-direction: row;
    margin-bottom: 14px;
  }
}
.checkout-details .checkout-details-wrapper .checkout-details-name-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .checkout-details-name-container .input-container {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.checkout-details .checkout-details-wrapper .checkout-details-name-container .input-container {
  margin-bottom: 14px;
  width: 100%;
}
.checkout-details .checkout-details-wrapper .input-container {
  position: relative;
}
.checkout-details .checkout-details-wrapper div.error {
  position: relative;
}
.checkout-details .checkout-details-wrapper div.error input {
  width: 100%;
  font-weight: 400;
  border-color: #ce171f;
}
@media (min-width: 1024px) {
  .checkout-details .checkout-details-wrapper div.error input {
    height: 26px;
  }
}
.checkout-details .checkout-details-wrapper div.error input {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  height: 36px;
  padding: 2px 2px 2px 4px;
  outline: none;
}
.checkout-details .checkout-details-wrapper .required-star {
  position: absolute;
  right: -7px;
  top: -2px;
}
.checkout-details .checkout-details-wrapper .new-address-input-container {
  width: 100%;
  margin-bottom: 14px;
}
@media (min-width: 1024px) {
  .checkout-details .checkout-details-wrapper .checkout-details .map-input {
    width: 280px;
  }
}
.checkout-details .checkout-details-wrapper .checkout-details .map-input {
  font-family: Roboto, sans-serif;
  padding-left: 5px;
  width: 100%;
  padding-right: 10px;
}
@media (min-width: 1024px) {
  .checkout-details .checkout-details-wrapper .crosshair-icon {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 48px;
    height: 48px;
    padding-left: 14px;
    padding-top: 14px;
  }
}
.checkout-details .checkout-details-wrapper .crosshair-icon {
  position: absolute;
  right: -8px;
  top: -6px;
  width: 48px;
  height: 48px;
  padding-left: 14px;
  padding-top: 14px;
}
.checkout-details .checkout-details-wrapper [role=button] {
  cursor: pointer;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .delivery-time-container {
    flex-direction: row;
    align-items: center;
  }
}
.checkout-details .checkout-details-wrapper .delivery-time-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .deferred-timepicker,
  .checkout-details .checkout-details-wrapper .delivery-time {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .delivery-time {
    margin-bottom: 0;
  }
}
.checkout-details .checkout-details-wrapper .delivery-time {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.checkout-details .checkout-details-wrapper .address-delivery-icon,
.checkout-details .checkout-details-wrapper .address-delivery-icon svg {
  width: 24px;
  height: 24px;
}
.checkout-details .checkout-details-wrapper img {
  vertical-align: middle;
  border: 0;
}
.checkout-details .checkout-details-wrapper .checkout-details .deliveryTime {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
}
.checkout-details .checkout-details-wrapper .delivery-deferred {
  display: flex;
  align-items: center;
}
.checkout-details .checkout-details-wrapper .checkout-details .checkbox-2b {
  display: flex;
}
.checkout-details .checkout-details-wrapper .checkbox-2b label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}
.checkout-details .checkout-details-wrapper .checkbox-2b label input[type=checkbox] {
  display: none;
}
.checkout-details .checkout-details-wrapper .checkout-details .checkbox-2b input {
  margin: 0 5px 0 0;
  height: auto;
}
@media (min-width: 1024px) {
  .checkout-details .checkout-details-wrapper .checkout-details input {
    height: 26px;
  }
}
.checkout-details .checkout-details-wrapper .checkout-details input {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  height: 36px;
  padding: 2px 2px 2px 4px;
  outline: none;
}
.checkout-details .checkout-details-wrapper .checkbox-2b input {
  visibility: hidden;
  color: #fff;
  font-size: 7px;
  height: auto;
  width: auto;
}
.checkout-details .checkout-details-wrapper input[type=checkbox],
.checkout-details .checkout-details-wrapper input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
.checkout-details .checkout-details-wrapper input[type=checkbox],
.checkout-details .checkout-details-wrapper input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.checkout-details .checkout-details-wrapper [type=checkbox],
.checkout-details .checkout-details-wrapper [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.checkout-details .checkout-details-wrapper .checkout-details .checkbox-2b div {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #323232;
}
.checkout-details .checkout-details-wrapper .checkbox-2b label .checkbox-icon {
  min-width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(50, 50, 50, 0.2);
  margin: 2px 3px 0 0;
  position: relative;
}
.checkout-details .checkout-details-wrapper .checkout-details .checkbox-2b div {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #323232;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .deferred-timepicker,
  .checkout-details .checkout-details-wrapper .delivery-time {
    width: 50%;
  }
}
.checkout-details .checkout-details-wrapper .deferred-timepicker {
  margin-bottom: 10px;
}
.checkout-details .checkout-details-wrapper .checkout-details .address-comment-trigger {
  color: rgba(50, 50, 50, 0.5);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 15px;
}
.checkout-details .checkout-details-wrapper [role=button] {
  cursor: pointer;
}
.checkout-details .checkout-details-wrapper .checkout-wrapper-map {
  width: 100%;
  height: 210px;
  margin-bottom: 14px;
}
.checkout-details .checkout-details-wrapper .ymaps-2-1-74-map {
  position: relative;
  z-index: 0;
  display: block;
  margin: 0!important;
  padding: 0!important;
  text-align: left!important;
  text-decoration: none!important;
  color: #000;
  font-weight: 400!important;
  font-style: normal!important;
  line-height: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-print-color-adjust: exact;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.checkout-details .checkout-details-wrapper ymaps,
.checkout-details .checkout-details-wrapper ymaps canvas,
.checkout-details .checkout-details-wrapper ymaps input,
.checkout-details .checkout-details-wrapper ymaps svg {
  max-width: none;
  max-height: none;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .payments-pick {
    flex-direction: row;
  }
}
.checkout-details .checkout-details-wrapper .payments-pick {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .pay-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.checkout-details .checkout-details-wrapper .pay-button.selected {
  background: #323232;
}
@media (min-width: 768px) {
  .checkout-details .checkout-details-wrapper .pay-button {
    margin-bottom: 0;
  }
}
.checkout-details .checkout-details-wrapper .pay-button {
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 8px 7px;
  display: flex;
  align-items: center;
  margin-right: 2px;
  min-width: 125px;
  margin-bottom: 8px;
}
.checkout-details .checkout-details-wrapper .pay-button img {
  vertical-align: middle;
  border: 0;
}
.checkout-details .checkout-details-wrapper .pay-button span {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  opacity: .5;
  text-align: left;
}
.checkout-details .checkout-details-wrapper .payment-info {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.checkout-details .checkout-details-wrapper .payment-info-label {
  margin-right: 10px;
}
.checkout-details .checkout-details-wrapper .input-rub:before,
.checkout-details .checkout-details-wrapper .payment-info-label {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.checkout-details .checkout-details-wrapper .input-rub {
  position: relative;
}
.checkout-details .checkout-details-wrapper .input-rub:before,
.checkout-details .checkout-details-wrapper .payment-info-label {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.checkout-details .checkout-details-wrapper .input-rub:before {
  display: inline-block;
  visibility: visible;
  content: "\20BD";
  opacity: .5;
  position: absolute;
  right: 15px;
  top: 5px;
}
.checkout-details .checkout-details-wrapper .checkout-details input.valid {
  border: 1px solid #7ed321;
}
@media (min-width: 1024px) {
  .checkout-details .checkout-details-wrapper .checkout-details input {
    height: 26px;
  }
}
.checkout-details .checkout-details-wrapper .checkout-details input {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  height: 36px;
  padding: 2px 2px 2px 4px;
  outline: none;
}
.checkout-details .checkout-details-wrapper .comment-order-title {
  font-size: 14px;
}
.checkout-details .checkout-details-wrapper .comment-order-text,
.checkout-details .checkout-details-wrapper .comment-order-title {
  color: #323232;
  opacity: .5;
  font-family: Roboto, sans-serif;
}
.checkout-details .checkout-details-wrapper .comment-order textarea {
  border: 0.5px solid rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  width: 100%;
}
.checkout-details .checkout-details-wrapper button,
.checkout-details .checkout-details-wrapper input,
.checkout-details .checkout-details-wrapper select,
.checkout-details .checkout-details-wrapper textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.checkout-details .checkout-details-wrapper textarea {
  overflow: auto;
}
.checkout-details .checkout-details-wrapper button,
.checkout-details .checkout-details-wrapper input,
.checkout-details .checkout-details-wrapper optgroup,
.checkout-details .checkout-details-wrapper select,
.checkout-details .checkout-details-wrapper textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.checkout-details .checkout-details-wrapper textarea {
  resize: vertical;
}
.checkout-details .checkout-details-wrapper .comment-order-text {
  font-size: 12px;
}
.checkout-details .checkout-details-wrapper .comment-order-text,
.checkout-details .checkout-details-wrapper .comment-order-title {
  color: #323232;
  opacity: .5;
  font-family: Roboto, sans-serif;
}
@media (min-width: 1024px) {
  .cart-summary-wrapper {
    margin-left: 26px;
    width: 270px;
  }
}
@media (min-width: 768px) {
  .cart-summary-wrapper {
    margin-left: 16px;
    margin-top: 10px;
    width: 240px;
  }
}
.cart-summary-wrapper {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #323232;
  height: fit-content;
}
.cart-summary-wrapper .wrapper {
  padding: 30px 16px;
}
.cart-summary-wrapper .summary {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #323232;
  padding-top: 10px;
}
.cart-summary-wrapper .summary .spacer {
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}
.cart-summary-wrapper .spacer {
  flex: 1 1;
}
.cart-summary-wrapper .summary .summ {
  font-size: 14px;
  font-weight: 400;
}
.cart-summary-wrapper .border {
  margin-top: 10px;
  width: 100%;
  border-bottom: 5px dotted #f2f2f2;
}
.cart-summary-wrapper .total {
  font-family: Roboto Slab,serif;
  font-size: 16px;
  font-weight: 700;
  color: #323232;
  display: flex;
  margin-bottom: 16px;
}
.cart-summary-wrapper .total .rub {
  font-family: Roboto, sans-serif;
}
.no-call-container {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
}
.no-call-container .checkbox-2b {
  margin-top: 0;
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.cart-summary-wrapper .checkbox-2b {
  display: flex;
  font-size: 10px;
  margin-top: 10px;
}
.checkbox-2b label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.checkbox-2b label input[type=checkbox] {
  display: none;
}
.checkbox-2b input {
  visibility: hidden;
  color: #fff;
  font-size: 7px;
  height: auto;
  width: auto;
}
@media (min-width: 1024px) {
  .cart-summary-wrapper input {
    width: 165px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .cart-summary-wrapper input {
    width: 145px;
    height: 26px;
  }
}
.cart-summary-wrapper input {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  height: 36px;
  font-weight: 400;
  width: 165px;
  outline: none;
  padding: 0 10px;
}
input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.checkbox-2b label :checked + .checkbox-icon {
  background: #fff;
  min-width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #7ed321;
}
.no-call-container .checkbox-2b div {
  padding-top: 0;
}
.checkbox-2b label .checkbox-icon {
  min-width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(50, 50, 50, 0.2);
  margin: 2px 3px 0 0;
  position: relative;
}
.checkbox-2b label :checked + .checkbox-icon:after {
  content: "\2713";
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: 1px;
  color: #7ed321;
}
.no-call-container .checkbox-2b div {
  padding-top: 0;
}
.no-call-text {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  opacity: .5;
}
.cart-summary-wrapper .form {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
}
.cart-summary-wrapper .form .form-label {
  width: 57px;
  text-align: right;
  margin-right: 7px;
  padding-top: 4px;
}
.cart-summary-wrapper .form .form-label .required-star {
  color: #ce171f;
}
.cart-summary-wrapper .form div.error {
  position: relative;
}
@media (min-width: 768px) {
  .cart-summary-wrapper .form .address-wrap {
    flex-direction: row;
  }
}
.cart-summary-wrapper .form .address-wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .cart-summary-wrapper .form .address-inside-wrap {
    margin-top: 0;
  }
}
.cart-summary-wrapper .form .address-inside-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.cart-summary-wrapper .form .input-sms.valid {
  border-color: #323232;
}
.cart-summary-wrapper .form .input-sms {
  width: 60px;
}
.cart-summary-wrapper .form button.sms:disabled {
  background-color: rgba(50, 50, 50, 0.5);
  background-image: none;
}
@media (min-width: 768px) {
  .cart-summary-wrapper .form button.sms {
    height: 26px;
  }
}
.cart-summary-wrapper .form button.sms {
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff000), color-stop(63%, #ffce00), to(#ffba00));
  background-image: -webkit-linear-gradient(left, #fff000, #ffce00 63%, #ffba00);
  background-image: linear-gradient(90deg, #fff000, #ffce00 63%, #ffba00);
  width: 100px;
  height: 36px;
  border: none;
  margin-left: 6px;
}
.cart-summary-wrapper .form button[disabled],
.cart-summary-wrapper .form html input[disabled] {
  cursor: default;
}
.cart-summary-wrapper .info-warning {
  font-size: 14px;
  font-weight: 400;
  color: #ffba00;
  text-align: left;
  margin-top: 8px;
  text-align: center;
}
.cart-summary-wrapper .place-order:disabled {
  background-color: rgba(50, 50, 50, 0.5);
  background-image: none;
}
.cart-summary-wrapper .cart-summary-wrapper .place-order {
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff5f27), to(#ce171f));
  background-image: -webkit-linear-gradient(left, #ff5f27, #ce171f);
  background-image: linear-gradient(90deg, #ff5f27, #ce171f);
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 25px;
  height: 36px;
  width: 100%;
  color: #fff;
}
.cart-summary-wrapper button[disabled],
.cart-summary-wrapper html input[disabled] {
  cursor: default;
}
.cart-summary-wrapper .checkbox-2b {
  display: flex;
  font-size: 10px;
  margin-top: 10px;
}
.cart-summary-wrapper .checkbox-2b label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}
.cart-summary-wrapper .checkbox-2b label input[type=checkbox] {
  display: none;
}
.cart-summary-wrapper .checkbox-2b label input {
  visibility: hidden;
  color: #fff;
  font-size: 7px;
  height: auto;
  width: auto;
}
@media (min-width: 1024px) {
  .cart-summary-wrapper .checkbox-2b label input {
    width: 165px;
    height: 26px;
  }
}
@media (min-width: 768px) {
  .cart-summary-wrapper .checkbox-2b label input {
    width: 145px;
    height: 26px;
  }
}
.cart-summary-wrapper .checkbox-2b label input {
  border-radius: 4px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  height: 36px;
  font-weight: 400;
  width: 165px;
  outline: none;
  padding: 0 10px;
}
.cart-summary-wrapper .checkbox-2b label input[type=checkbox],
.cart-summary-wrapper .checkbox-2b label input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
.cart-summary-wrapper .checkbox-2b label :checked + .checkbox-icon {
  background: #fff;
  min-width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #7ed321;
}
.cart-summary-wrapper .checkbox-2b label .checkbox-icon {
  min-width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(50, 50, 50, 0.2);
  margin: 2px 3px 0 0;
  position: relative;
}
@media (min-width: 1024px) {
  .info-container {
    margin-left: 26px;
    width: 270px;
  }
}
@media (min-width: 768px) {
  .info-container {
    margin-left: 16px;
    width: 240px;
  }
}
.info-container {
  color: #323232;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  display: flex;
  width: 100%;
  margin-top: 25px;
}
.required-star {
  color: #ce171f;
}
