.login-form {
    position: sticky;
    left: 100%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 0px;
    outline: none;
    padding: 60px;
    z-index: 401;
    width: 360px;
    margin-top: 20%;
}

.enter-form__title {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    margin-bottom: 35px;
}

.enter-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 8px;
    position: relative;
}

.enter-form__label {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    padding-right: 5px;
    padding-top: 5px;
}

.enter-form__input input {
    border: 1px solid rgba(50,50,50,.5);
    border-radius: 4px;
    padding: 6px 16px 4px;
    max-width: 160px;
}

.enter-form__input input, .enter-form__label {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
}

.enter-form__add-button {
    background-image: linear-gradient(90deg, lawngreen, black);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 11px 0 9px;
    margin-top: 12px;
    width: 100%;
}

.ant-menu-horizontal {
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: none;
    z-index: 0;
}

.ant-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    color: rgba(0,0,0,.65);
    background: #fff;
    line-height: 46px;
    -webkit-transition: background .3s,width .2s;
    transition: background .3s,width .2s;
}

.modal-menu, .modal-menu:hover {
    border-bottom: none!important;
}

.modal-menu {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.ant-menu-horizontal>.ant-menu-item, .ant-menu-horizontal>.ant-menu-submenu {
    position: relative;
    top: 1px;
    float: left;
    border-bottom: 2px solid transparent;
    font-family: Roboto,sans-serif;
}

.ant-menu-horizontal .ant-menu-item, .ant-menu-horizontal .ant-menu-submenu {
    margin-top: -1px;
}

.ant-menu-item, .ant-menu-submenu-title {
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: block;
    white-space: nowrap;
}
