.DesktopHeader_content {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    background: white;
    /* transition: left 0.2s ease-in-out; */
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); */
    /* will-change: transform; */

    .DesktopHeader_desktopHeader {
        margin: 0 auto;
        height: 80px;
        display: flex;
        padding: 0 40px;
        position: relative;
        max-width: 1500px;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        // background-image: linear-gradient(90deg, #73ff00, #00ff40 98%);

        .DesktopHeader_desktopLogo {
            flex: 0 0 auto;
            padding: 0 20px 0 0;

            a {
                color: black;
                cursor: pointer;
                text-decoration: none;
            }

            .DesktopHeader_desktopLogoImage {
                width: 160px;
            }

            img {
                border-style: none;
            }
        }

        .desktopLogoImage {
            height: 78px;
        }

        .DesktopHeader_menu {
            flex: 1 0 auto;
            text-align: center;
            background: white;
        }

        .cart {
            width: 243px;
            height: 46px;
            margin-left: auto;
            // background-image: -webkit-gradient(linear,left top,right top,from(#fff000),color-stop(98%,#ffba00));
            // background-image: -webkit-linear-gradient(left,#fff000,#ffba00 98%);
            // background-image: linear-gradient(90deg,#fff000,#ffba00 98%);
            background-image: linear-gradient(90deg,#73ff00,#00ff40 98%);

            .cart-row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cart-link {
                    position: relative;
                    padding-top: 15px;
                    padding-left: 5px;
                    padding-bottom: 11px;

                    a {
                        display: flex;
                        color: #337ab7;
                        text-decoration: none;
                    }

                    .cart-icon {
                        width: 23px;
                        height: 20px;

                        img {
                            width: inherit;
                            vertical-align: middle;
                            border: 0;
                        }
                    }

                }

            }

            .badge {
                position: absolute;
                left: 19px;
                top: 9px;
                font-family: Open Sans,sans-serif;
                font-size: 10px;
                color: #fff;
                background: #ce171f;
                border-radius: 7px;
                line-height: 13px;
                text-align: center;
                width: 14px;
                height: 14px;
                padding: 0!important;
            }

            // .badge {
            //     display: inline-block;
            //     min-width: 10px;
            //     padding: 3px 7px;
            //     font-size: 14px;
            //     font-weight: 700;
            //     color: #fff;
            //     line-height: 1;
            //     vertical-align: middle;
            //     white-space: nowrap;
            //     text-align: center;
            //     background-color: #777;
            //     border-radius: 10px;
            // }

            .title {
                font-family: Roboto Slab,serif;
                font-size: 14px;
                font-weight: 700;
                font-stretch: condensed;
                text-align: left;
                color: #323232;
                margin-left: 6px;
            }

            .login {
                background: #323232;
                color: #fff;
                height: 26px;
                line-height: 26px;
                font-family: Roboto,sans-serif;
                font-size: 16px;
                display: flex;
                position: relative;
                padding-left: 15px;
                padding-right: 45px;

                .login-icon {
                    left: -10px;
                }

                img {
                    position: absolute;
                    border: 4px solid #323232;
                    border-radius: 13px;
                    top: -4px;
                    left: -40px;
                    width: 26px;
                    height: 26px;
                }
                img {
                    vertical-align: middle;
                }

            }

        }

        .DesktopCatalogFilters_root {
            display: block;
            border-bottom: 1px solid #f5f5f5;
            background: white;

            .DesktopCatalogFilters_filters {
                margin: 21px 80px;
                // height: 44px;
                display: flex;
                position: relative;
                overflow: hidden;
                flex-wrap: wrap;
                // padding-right: 180px;
            }

            ul {
                list-style: none;
            }

            .DesktopCatalogFilters_filter {
                overflow: hidden;

                .DesktopCatalogFilters_filterLink {
                    height: 44px;
                    padding: 0 18px;
                    display: block;
                    line-height: 44px;
                    margin-right: 4px;
                    border-radius: 100px;
                }

                .DesktopCatalogFilters_filterLink:hover {
                    background: lightgreen;
                }

                .DesktopCatalogFilters_filterLinkActive {
                    background: lawngreen;
                }

                a {
                    color: black;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }


}

.mp-content {
    width: 100%;

    .catalog-wrapper {
        padding: 26px 0 26px 26px;

        .category-title {
            margin-top: 0;
        }

        .category-tablet-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        h1 {
            font-family: Roboto Slab,serif;
            font-size: 24px;
            font-weight: 700;
            text-align: left;
            color: #323232;
            display: flex;
            justify-content: space-between;
            margin: 0;
        }

        .category-label-container.how-much-products {
            margin-bottom: 20px;
        }

        .mp-item-list-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-top: 110px;
            margin-bottom: 11px;

            .mp-item-card {
                width: 230px;
                // width: 20%;
                background-color: #fff;
                list-style: none;
                padding: 0;
                position: relative;
                margin-bottom: 40px;

                .mp-item-prop {
                    position: absolute;
                    top: 7px;
                    left: 7px;
                    display: flex;
                    flex-flow: column;
                }

                .title-img {
                    min-height: 220px;
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    background-color: #ddd;
                    // vertical-align: middle;
                    border: 0;
                }

                .mp-item-description {
                    margin: 0 18px;
                    font-family: Roboto,sans-serif;
                    font-size: 12px;
                    line-height: 1.33;
                    text-align: center;
                    color: #323232;
                    height: 31px;
                    position: relative;
                    overflow: hidden;
                }

                .ellipsis {
                    background: #fff;
                    bottom: 0;
                    position: absolute;
                    right: 0;
                    width: 10px;
                }

                .fill {
                    background: #fff;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                }

                .mp-item-add {
                    margin-top: 15px;
                    padding: 0 13px;
                    display: flex;
                }

                .mp-price {
                    font-family: Roboto Slab,serif;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    color: #323232;
                }

                .spacer {
                    flex: 1 1;
                }

                .button-add-container {
                    padding: 12px;


                }
            }
        }
    }

    .button-add {
        width: 100%;
        height: 35px;
        border-radius: 4px;
        background-image: linear-gradient(90deg, lawngreen, black);
        border: none;
        color: #fff;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-stretch: condensed;
        display: flex;
        align-items: center;
        line-height: inherit;
        cursor: pointer;
        text-transform: none;
        overflow: visible;
        margin: 0;
    }
}
