@media (min-width: 1024px) {
    .cart-page-wrapper {
        padding: 35px 26px;
    }
}

@media (min-width: 768px) {
    .cart-page-wrapper {
        padding: 35px 16px;
    }
}

.cart-page-wrapper {
    padding: 25px 8px;
}

.cart-title {
    font-family: Roboto Slab,serif;
    font-size: 24px;
    font-weight: 700;
    color: #323232;
    line-height: 1;
    text-transform: uppercase;
}

.cart-guest-offer-container, .cart-guest-offer-container>div {
    display: flex;
    align-items: center;
}

.cart-guest-offer-container {
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.cart-guest-offer-container, .cart-guest-offer-container>div {
    display: flex;
    align-items: center;
}

.cart-guest-offer-button {
    display: flex;
    align-items: center;
    background: #fc0;
    border-radius: 4px;
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 14px 5px;
    margin-left: 4px;
    margin-right: 8px;
}

[role=button] {
    cursor: pointer;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    touch-action: manipulation;
}

[role=button] {
    cursor: pointer;
}

.cart-guest-offer-text {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    padding-right: 5px;

    img {
        vertical-align: middle;
        border: 0;
    }
}


@media (min-width: 768px) {
    .cart-content-wrapper {
        flex-direction: row;
    }
}

.cart-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (min-width: 1024px) {
    .cart-wrapper {
        width: 598px;
        margin-left: 0;
        margin-right: 0;
    }
}

.cart-wrapper {
    width: 100%;
    margin: 10px auto 30px;
}

@media (min-width: 1024px) {
    .checkout-items {
        padding: 16px;
    }
}

.checkout-items {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(50,50,50,.2);
    padding: 16px 8px;
    margin-bottom: 8px;
}

.item-list {
    display: flex;
    flex-flow: column nowrap;
}

.checkout-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 8px 0;
    border-bottom: 1px solid rgba(50,50,50,.1);

    .picture {
        position: relative;
        .checkout-thumb {
            height: 48px;
        }

        img {
            vertical-align: middle;
            border: 0;
        }
    }

    @media (min-width: 768px) {
        .checkout-item-title-price-wrapper {
            flex-direction: row;
            width: 100%;
        }
    }

    .checkout-item-title-price-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .checkout-item-title-wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 8px;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #323232;
    }

    .checkout-item-title {
        margin-bottom: 6px;
    }

    .checkout-item-title-wrapper a {
        color: #323232;
        cursor: pointer;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    a {
        background-color: initial;
    }

    .checkout-item-ingredients {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        font-family: Roboto,sans-serif;
        font-size: 10px;
        letter-spacing: -.1px;
        color: #323232;
        font-weight: 700;
    }

    .checkout-item-subcategory {
        font-size: 12px;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        .checkout-item-count-price {
            padding-right: 0;
            width: auto;
        }
    }

    .checkout-item-count-price {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;

        .price {
            text-align: right;
            opacity: .5;
            font-family: Roboto,sans-serif;
            font-size: 14px;
            color: #323232;
            width: 50px;
        }

        .counter {
            margin-left: 10px;
            width: 76px;
            height: 26px;
            border-radius: 4px;
            background-color: #f2f2f2;
            font-family: Roboto,sans-serif;
            font-size: 12px;
            letter-spacing: -.1px;
            text-align: center;
            color: #323232;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            display: flex;
            //margin-left: 36px;
        }

        .counter button {
            border: 1px solid rgba(50,50,50,.5);
            background-color: initial;
            border-radius: 9px;
            padding: 0;
            margin: 0 5px;

            span {
                margin-top: -2px;
                display: block;
                font-family: Open Sans,sans-serif;
                font-size: 12px;
                letter-spacing: -.1px;
                text-align: center;
                color: rgba(50,50,50,.5);
            }
        }

        .counter button, .counter div {
            height: 18px;
            width: 18px;
        }

        button, input, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        .summ {
            width: 65px;
            font-family: Roboto Slab,serif;
            font-size: 16px;
            font-weight: 700;
            text-align: right;
            color: #323232;

            .rub {
                font-family: Roboto,sans-serif;
            }
        }

        @media (min-width: 1024px) {
            .checkout-item-trash-icon {
                margin-left: 25px;
            }
        }

        .checkout-item-trash-icon {
            cursor: pointer;
            margin-left: 5px;
            border: none;
            background-color: #fff;
            width: 24px;
            height: 24px;

            @media (min-width: 1024px) {
                img {
                    width: 12px;
                    height: 12px;
                }
            }

            img {
                width: 24px;
                height: 24px;
            }

            img {
                vertical-align: middle;
                border: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .checkout-cutlery {
        padding: 1px 26px 0;
    }
}

.checkout-cutlery {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 1px 9px 0;
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.checkout-cutlery-subtext {
    display: none;
}

.checkout-subtext {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    opacity: .5;
}

@media (min-width: 768px) {
    .checkout-cutlery .counter {
        margin-left: 25px;
    }
}

.checkout-cutlery .counter {
    margin-left: 10px;
}

.counter {
    width: 76px;
    height: 26px;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    letter-spacing: -.1px;
    text-align: center;
    color: #323232;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 36px;
}

.counter button {
    border: 1px solid rgba(50,50,50,.5);
    background-color: initial;
    border-radius: 9px;
    padding: 0;
    margin: 0 5px;
}

.counter button, .counter div {
    height: 18px;
    width: 18px;
}

button[disabled], html input[disabled] {
    cursor: default;
}

.counter button span {
    margin-top: -2px;
    display: block;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    letter-spacing: -.1px;
    text-align: center;
    color: rgba(50,50,50,.5);
}

@media (min-width: 768px) {
    .checkout-promo-birthday {
        padding: 7px 26px;
    }
}

.checkout-promo-birthday {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 7px 9px;
    color: #323232;
    font-family: Roboto,sans-serif;
}

.checkout-promo-birthday .promocode {
    display: flex;
    align-items: center;
    //border-bottom: 1 solid rgba(50,50,50,.5);
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 7px;

    .title {
        text-transform: uppercase;
    }

    .checkout-promo-birthday .spacer {
        flex: 1 1;
    }

    input {
        text-transform: uppercase;
        max-width: 130px;
    }

    span.notApplied {
        color: #323232;
        width: 90px;
    }
}

@media (min-width: 1024px) {
    .checkout-details {
        padding: 16px;
    }
}

.checkout-details {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(50,50,50,.2);
    padding: 16px 8px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #323232;

    .title {
        color: #323232;
        font-family: Roboto Slab,serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 13px;
    }

    .sub-title {
        color: #323232;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .checkout-details-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .half {
            width: 100%;
        }

        @media (min-width: 768px) {
            .checkout-details-name-container {
                flex-direction: row;
                margin-bottom: 14px;
            }
        }

        .checkout-details-name-container {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 768px) {
            .checkout-details-name-container .input-container {
                margin-right: 16px;
                margin-bottom: 0;
            }
        }

        .checkout-details-name-container .input-container {
            margin-bottom: 14px;
            width: 100%;
        }

        .input-container {
            position: relative;
        }

        div.error {
            position: relative;

            input {
                width: 100%;
                font-weight: 400;
                border-color: #ce171f;
            }

            @media (min-width: 1024px) {
                input {
                    height: 26px;
                }
            }

            input {
                border-radius: 4px;
                border: 1px solid rgba(50,50,50,.5);
                height: 36px;
                padding: 2px 2px 2px 4px;
                outline: none;
            }
        }

        .required-star {
            position: absolute;
            right: -7px;
            top: -2px;
        }

        .new-address-input-container {
            width: 100%;
            margin-bottom: 14px;
        }

        @media (min-width: 1024px) {
            .checkout-details .map-input {
                width: 280px;
            }
        }

        .checkout-details .map-input {
            font-family: Roboto,sans-serif;
            padding-left: 5px;
            width: 100%;
            padding-right: 10px;
        }

        @media (min-width: 1024px) {
            .crosshair-icon {
                position: absolute;
                right: -12px;
                top: -12px;
                width: 48px;
                height: 48px;
                padding-left: 14px;
                padding-top: 14px;
            }
        }

        .crosshair-icon {
            position: absolute;
            right: -8px;
            top: -6px;
            width: 48px;
            height: 48px;
            padding-left: 14px;
            padding-top: 14px;
        }

        [role=button] {
            cursor: pointer;
        }

        @media (min-width: 768px) {
            .delivery-time-container {
                flex-direction: row;
                align-items: center;
            }
        }

        .delivery-time-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        @media (min-width: 768px) {
            .deferred-timepicker, .delivery-time {
                width: 50%;
            }
        }

        @media (min-width: 768px) {
            .delivery-time {
                margin-bottom: 0;
            }
        }

        .delivery-time {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
        }


        .address-delivery-icon, .address-delivery-icon svg {
            width: 24px;
            height: 24px;
        }

        img {
            vertical-align: middle;
            border: 0;
        }

        .checkout-details .deliveryTime {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
        }

        .delivery-deferred {
            display: flex;
            align-items: center;
        }

        .checkout-details .checkbox-2b {
            display: flex;
        }

        .checkbox-2b label {
            display: flex;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 0;
        }

        .checkbox-2b label input[type=checkbox] {
            display: none;
        }

        .checkout-details .checkbox-2b input {
            margin: 0 5px 0 0;
            height: auto;
        }

        @media (min-width: 1024px) {
            .checkout-details input {
                height: 26px;
            }
        }

        .checkout-details input {
            border-radius: 4px;
            border: 1px solid rgba(50,50,50,.5);
            height: 36px;
            padding: 2px 2px 2px 4px;
            outline: none;
        }

        .checkbox-2b input {
            visibility: hidden;
            color: #fff;
            font-size: 7px;
            height: auto;
            width: auto;
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 0 0;
            margin-top: 1px\9;
            line-height: normal;
        }

        input[type=checkbox], input[type=radio] {
            box-sizing: border-box;
            padding: 0;
        }

        [type=checkbox], [type=radio] {
            box-sizing: border-box;
            padding: 0;
        }

        .checkout-details .checkbox-2b div {
            font-family: Roboto,sans-serif;
            font-size: 12px;
            color: #323232;
        }

        .checkbox-2b label .checkbox-icon {
            min-width: 14px;
            height: 14px;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid rgba(50,50,50,.2);
            margin: 2px 3px 0 0;
            position: relative;
        }

        .checkout-details .checkbox-2b div {
            font-family: Roboto,sans-serif;
            font-size: 12px;
            color: #323232;
        }

        @media (min-width: 768px) {
            .deferred-timepicker, .delivery-time {
                width: 50%;
            }
        }

        .deferred-timepicker {
            margin-bottom: 10px;
        }

        .checkout-details .address-comment-trigger {
            color: rgba(50,50,50,.5);
            font-family: Roboto,sans-serif;
            font-size: 14px;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        [role=button] {
            cursor: pointer;
        }

        .checkout-wrapper-map {
            width: 100%;
            height: 210px;
            margin-bottom: 14px;
        }

        .ymaps-2-1-74-map {
            position: relative;
            z-index: 0;
            display: block;
            margin: 0!important;
            padding: 0!important;
            text-align: left!important;
            text-decoration: none!important;
            color: #000;
            font-weight: 400!important;
            font-style: normal!important;
            line-height: normal;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-print-color-adjust: exact;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        ymaps, ymaps canvas, ymaps input, ymaps svg {
            max-width: none;
            max-height: none;
        }

        @media (min-width: 768px) {
            .payments-pick {
                flex-direction: row;
            }
        }

        .payments-pick {
            display: flex;
            flex-direction: column;
            margin-bottom: 22px;
        }

        @media (min-width: 768px) {
            .pay-button:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .pay-button.selected {
            background: #323232;
        }

        @media (min-width: 768px) {
            .pay-button {
                margin-bottom: 0;
            }
        }

        .pay-button {
            background: #f2f2f2;
            border: none;
            border-radius: 4px;
            padding: 8px 7px;
            display: flex;
            align-items: center;
            margin-right: 2px;
            min-width: 125px;
            margin-bottom: 8px;

            img {
                vertical-align: middle;
                border: 0;
            }

            span {
                color: #323232;
                font-family: Roboto,sans-serif;
                font-size: 14px;
                line-height: 1.14;
                opacity: .5;
                text-align: left;
            }
        }

        .payment-info {
            display: flex;
            align-items: center;
            margin-bottom: 22px;
        }

        .payment-info-label {
            margin-right: 10px;
        }

        .input-rub:before, .payment-info-label {
            color: #323232;
            font-family: Roboto,sans-serif;
            font-size: 14px;
        }

        .input-rub {
            position: relative;
        }

        .input-rub:before, .payment-info-label {
            color: #323232;
            font-family: Roboto,sans-serif;
            font-size: 14px;
        }

        .input-rub:before {
            display: inline-block;
            visibility: visible;
            content: "\20BD";
            opacity: .5;
            position: absolute;
            right: 15px;
            top: 5px;
        }

        .checkout-details input.valid {
            border: 1px solid #7ed321;
        }

        @media (min-width: 1024px) {
            .checkout-details input {
                height: 26px;
            }
        }

        .checkout-details input {
            border-radius: 4px;
            border: 1px solid rgba(50,50,50,.5);
            height: 36px;
            padding: 2px 2px 2px 4px;
            outline: none;
        }

        .comment-order-title {
            font-size: 14px;
        }

        .comment-order-text, .comment-order-title {
            color: #323232;
            opacity: .5;
            font-family: Roboto,sans-serif;
        }

        .comment-order textarea {
            border: .5px solid rgba(50,50,50,.5);
            border-radius: 4px;
            width: 100%;
        }

        button, input, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        textarea {
            overflow: auto;
        }

        button, input, optgroup, select, textarea {
            color: inherit;
            font: inherit;
            margin: 0;
        }

        textarea {
            resize: vertical;
        }

        .comment-order-text {
            font-size: 12px;
        }

        .comment-order-text, .comment-order-title {
            color: #323232;
            opacity: .5;
            font-family: Roboto,sans-serif;
        }
    }
}

@media (min-width: 1024px) {
    .cart-summary-wrapper {
        margin-left: 26px;
        width: 270px;
    }
}

@media (min-width: 768px) {
    .cart-summary-wrapper {
        margin-left: 16px;
        margin-top: 10px;
        width: 240px;
    }
}

.cart-summary-wrapper {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(50,50,50,.2);
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #323232;
    //height: -webkit-fit-content;
    //height: -moz-fit-content;
    height: fit-content;
}

.cart-summary-wrapper .wrapper {
    padding: 30px 16px;
}

.cart-summary-wrapper .summary {
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #323232;
    padding-top: 10px;
}

.cart-summary-wrapper .summary .spacer {
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
}

.cart-summary-wrapper .spacer {
    flex: 1 1;
}

.cart-summary-wrapper .summary .summ {
    font-size: 14px;
    font-weight: 400;
}

.cart-summary-wrapper .border {
    margin-top: 10px;
    width: 100%;
    border-bottom: 5px dotted #f2f2f2;
}

.cart-summary-wrapper .total {
    font-family: Roboto Slab,serif;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    display: flex;
    margin-bottom: 16px;
}

.cart-summary-wrapper .total .rub {
    font-family: Roboto,sans-serif;
}

.no-call-container {
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

.no-call-container .checkbox-2b {
    margin-top: 0;
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 14px;
}

.cart-summary-wrapper .checkbox-2b {
    display: flex;
    font-size: 10px;
    margin-top: 10px;
}

.checkbox-2b label {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.checkbox-2b label input[type=checkbox] {
    display: none;
}

.checkbox-2b input {
    visibility: hidden;
    color: #fff;
    font-size: 7px;
    height: auto;
    width: auto;
}

@media (min-width: 1024px) {
    .cart-summary-wrapper input {
        width: 165px;
        height: 26px;
    }
}

@media (min-width: 768px) {
    .cart-summary-wrapper input {
        width: 145px;
        height: 26px;
    }
}

.cart-summary-wrapper input {
    border-radius: 4px;
    border: 1px solid rgba(50,50,50,.5);
    height: 36px;
    font-weight: 400;
    width: 165px;
    outline: none;
    padding: 0 10px;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox-2b label :checked+.checkbox-icon {
    background: #fff;
    min-width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #7ed321;
}

.no-call-container .checkbox-2b div {
    padding-top: 0;
}

.checkbox-2b label .checkbox-icon {
    min-width: 14px;
    height: 14px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(50,50,50,.2);
    margin: 2px 3px 0 0;
    position: relative;
}

.checkbox-2b label :checked+.checkbox-icon:after {
    content: "\2713";
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: 1px;
    color: #7ed321;
}

.no-call-container .checkbox-2b div {
    padding-top: 0;
}

.no-call-text {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    opacity: .5;
}

.cart-summary-wrapper {
    .form {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;

        .form-label {
            width: 57px;
            text-align: right;
            margin-right: 7px;
            padding-top: 4px;

            .required-star {
                color: #ce171f;
            }
        }

        div.error {
            position: relative;
        }

        @media (min-width: 768px) {
            .address-wrap {
                flex-direction: row;
            }
        }

        .address-wrap {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 768px) {
            .address-inside-wrap {
                margin-top: 0;
            }
        }

        .address-inside-wrap {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .input-sms.valid {
            border-color: #323232;
        }

        .input-sms {
            width: 60px;
        }

        button.sms:disabled {
            background-color: rgba(50,50,50,.5);
            background-image: none;
        }

        @media (min-width: 768px) {
            button.sms {
                height: 26px;
            }
        }

        button.sms {
            border-radius: 4px;
            background-image: -webkit-gradient(linear,left top,right top,from(#fff000),color-stop(63%,#ffce00),to(#ffba00));
            background-image: -webkit-linear-gradient(left,#fff000,#ffce00 63%,#ffba00);
            background-image: linear-gradient(90deg,#fff000,#ffce00 63%,#ffba00);
            width: 100px;
            height: 36px;
            border: none;
            margin-left: 6px;
        }

        button[disabled], html input[disabled] {
            cursor: default;
        }
    }

    .info-warning {
        font-size: 14px;
        font-weight: 400;
        color: #ffba00;
        text-align: left;
        margin-top: 8px;
        text-align: center;
    }

    .place-order:disabled {
        background-color: rgba(50,50,50,.5);
        background-image: none;
    }

    .cart-summary-wrapper .place-order {
        border-radius: 4px;
        background-image: -webkit-gradient(linear,left top,right top,from(#ff5f27),to(#ce171f));
        background-image: -webkit-linear-gradient(left,#ff5f27,#ce171f);
        background-image: linear-gradient(90deg,#ff5f27,#ce171f);
        border: none;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 25px;
        height: 36px;
        width: 100%;
        color: #fff;
    }

    button[disabled], html input[disabled] {
        cursor: default;
    }

    .checkbox-2b {
        display: flex;
        font-size: 10px;
        margin-top: 10px;

        label {
            display: flex;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 0;

            input[type=checkbox] {
                display: none;
            }

            input {
                visibility: hidden;
                color: #fff;
                font-size: 7px;
                height: auto;
                width: auto;
            }

            @media (min-width: 1024px) {
                input {
                    width: 165px;
                    height: 26px;
                }
            }

            @media (min-width: 768px) {
                input {
                    width: 145px;
                    height: 26px;
                }
            }

            input {
                border-radius: 4px;
                border: 1px solid rgba(50,50,50,.5);
                height: 36px;
                font-weight: 400;
                width: 165px;
                outline: none;
                padding: 0 10px;
            }

            input[type=checkbox], input[type=radio] {
                margin: 4px 0 0;
                margin-top: 1px\9;
                line-height: normal;
            }
        }
    }

    .checkbox-2b label :checked+.checkbox-icon {
        background: #fff;
        min-width: 14px;
        height: 14px;
        border-radius: 2px;
        border: 1px solid #7ed321;
    }

    .checkbox-2b label .checkbox-icon {
        min-width: 14px;
        height: 14px;
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid rgba(50,50,50,.2);
        margin: 2px 3px 0 0;
        position: relative;
    }
}

@media (min-width: 1024px) {
    .info-container {
        margin-left: 26px;
        width: 270px;
    }
}

@media (min-width: 768px) {
    .info-container {
        margin-left: 16px;
        width: 240px;
    }
}

.info-container {
    color: #323232;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.required-star {
    color: #ce171f;
}
